<nav class="navbar">
  <div class="logo">Tienda Angular</div>

  <div class="menu">
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="/productos" routerLinkActive="active">Productos</a>
    <a routerLink="/registro" routerLinkActive="active">Registro</a>
    <a routerLink="/alumnos" routerLinkActive="active">alumnos</a>
    <a routerLink="/ejercicio1" routerLinkActive="active">Ejercicio1</a>
    <a routerLink="/ejercicio2" routerLinkActive="active">Ejercicio2</a>
    <a routerLink="/ejercicio3" routerLinkActive="active">Ejercicio3</a>
  </div>
</nav>